/*
 * SPDX-FileCopyrightText: NOI Techpark <digital@noi.bz.it>
 *
 * SPDX-License-Identifier: AGPL-3.0-or-later
 */

@import "./shared_components/baseline/colors.scss";
@import "./shared_components/baseline/typography.scss";

.caption {
  @include MixinCaption;
  &.uppercase {
    text-transform: uppercase;
  }
  &.bold {
    font-weight: 700;
  }
  &.block {
    display: block;
  }
}

.meteo_generic {
  font-family: var(
    --webcomp-routeplanner-font-family,
    Suedtirol,
    KievitWebPro,
    sans-serif
  );
  position: relative;
  overflow-y: auto;
  overflow-x: hidden;
  width: 100%;

  @media only screen and (min-width: 992px) {
    width: var(--width);
    height: var(--height);
  }
}

#map {
  z-index: 1;
  width: 100%;
  @media only screen and (min-width: 992px) {
    width: var(--width);
    height: var(--height);
  }
}

.mobile {
  #map {
    width: 100vw;
    height: calc(100vh - 80px);
  }
}

.meteo_generic__sideBar {
  position: absolute;
  top: 16px;
  left: 16px;
  max-height: calc(100% - 32px);
  z-index: 3;
  overflow: hidden;
  width: calc(100% - 32px);

  @media only screen and (min-width: 768px) {
    width: 350px;
  }

  &.isSmallWidth {
    width: calc(100% - 32px);
    width: calc(80% - 32px);
  }

  .meteo_generic__sideBar__tabBar {
    background-color: white;
  }
  .meteo_generic__sideBar__searchBar {
    background-color: white;
    width: 100%;
    .searchBox {
      .searchBox__resoult_list {
        max-height: calc(var(--height) - 32px - 86px);
        overflow-y: auto;
        ul {
          list-style: none;
          padding-left: 8px;
          margin: 16px 0 0 0;
          li {
            @include MixinParagraphRegular;
            line-height: 18px;
            display: flex;
            align-items: center;
            margin: 8px 0;
            cursor: pointer;
            img {
              margin-right: 8px;
            }
          }
        }
      }
    }
  }

  .meteo_generic__sideBar__details {
    height: calc(var(--height) - 32px - 86px);
    background-color: $white;
    overflow-y: auto;

    // &.isSmallWidth {
    // }
    &.isSmallHeight {
      height: calc(var(--height) - 66px - 86px);
    }

    .header {
      padding: 8px 16px;
    }

    .emptySet {
      @include MixinParagraphMedium();
      font-size: bold;
    }
  }
}

.meteo_generic__language_picker {
  display: inline;
  position: absolute;
  right: 16px;
  z-index: 3;
  top: 80px;

  &.big_margin {
    top: 114px;
  }

  &.isSmallHeight,
  &.isSmallWidth {
    top: 16px;
  }

  @media only screen and (min-width: 768px) {
    top: 16px;
  }
}

.map_controls {
  position: absolute;
  right: 16px;
  bottom: 16px;
  z-index: 3;
}

.tab__video {
  width: var(--width);
  height: var(--height);
}

.globalOverlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: $gray-500;
  opacity: 0.6;
  z-index: 4;
}

// Globals
.mx-16px {
  margin: 0 16px;
}
.mt-4px {
  margin-top: 4px;
}
.mt-8px {
  margin-top: 8px;
}
.mt-16px {
  margin-top: 16px;
}

// Leaflet clustering
.leaflet-div-icon {
  border: 0;
  border-radius: 100%;
  background-color: $blue-100;
  color: $white;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}
