.meteo_generic {
  font-family: var(
    --webcomp-routeplanner-font-family,
    Suedtirol,
    KievitWebPro,
    sans-serif
  );
  position: relative;
  width: var(--width);
  height: var(--height);
  overflow: hidden;
}

#map {
  width: var(--width);
  height: var(--height);
  z-index: 1;
  @media only screen and (min-width: 320px) {
    // width: 100%;
    // height: 100vh;
    // &.closed {
    //   height: var(--height);
    // }
  }

  @media only screen and (min-width: 992px) {
    height: var(--height);
    // &.closed {
    //   height: var(--height);
    // }
  }
}

.meteo_generic__sideBar {
  position: absolute;
  top: 16px;
  left: 16px;
  width: 350px;
  max-height: calc(100% - 16px);
  z-index: 2;

  .meteo_generic__sideBar__tabBar {
    background-color: white;
  }
}
