@import "./shared_components/baseline/colors.scss";
@import "./shared_components/baseline/typography.scss";

.meteo_generic {
  font-family: var(
    --webcomp-routeplanner-font-family,
    Suedtirol,
    KievitWebPro,
    sans-serif
  );
  position: relative;
  width: var(--width);
  height: var(--height);
  overflow: hidden;
}

#map {
  width: var(--width);
  height: var(--height);
  z-index: 1;
  @media only screen and (min-width: 320px) {
    // width: 100%;
    // height: 100vh;
    // &.closed {
    //   height: var(--height);
    // }
  }

  @media only screen and (min-width: 992px) {
    height: var(--height);
    // &.closed {
    //   height: var(--height);
    // }
  }
}

.meteo_generic__sideBar {
  position: absolute;
  top: 16px;
  left: 16px;
  max-height: calc(100% - 32px);
  z-index: 2;
  overflow: hidden;
  width: calc(100% - 32px);
  @media only screen and (min-width: 768px) {
    width: 350px;
  }

  .meteo_generic__sideBar__tabBar {
    background-color: white;
  }
  .meteo_generic__sideBar__searchBar {
    background-color: white;
    .searchBox {
      .searchBox__resoult_list {
        max-height: calc(var(--height) - 32px - 86px);
        overflow-y: auto;
        ul {
          list-style: none;
          padding-left: 8px;
          margin: 16px 0 0 0;
          li {
            @include MixinParagraphRegular;
            line-height: 18px;
            display: flex;
            align-items: center;
            margin: 8px 0;
            cursor: pointer;
            img {
              margin-right: 8px;
            }
          }
        }
      }
    }
  }

  .meteo_generic__sideBar__details {
    height: calc(var(--height) - 32px - 86px);
    background-color: $white;
    overflow-y: auto;
    .header {
      padding: 8px 16px;
    }
  }
}

.meteo_generic__language_picker {
  display: inline;
  position: absolute;
  right: 16px;
  top: 114px;
  z-index: 3;
  @media only screen and (min-width: 768px) {
    top: 16px;
  }
}

.map_controls {
  position: absolute;
  right: 16px;
  bottom: 16px;
  z-index: 3;
}

.globalOverlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: $gray-600;
  opacity: 0.6;
  z-index: 4;
}

// Globals
.mt-4px {
  margin-top: 4px;
}
.mt-8px {
  margin-top: 8px;
}
.mt-16px {
  margin-top: 16px;
}

// Leaflet clustering
.leaflet-div-icon {
  border: 0;
  border-radius: 100%;
  background-color: $blue-100;
  color: $white;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}
