.glide__arrow {
  display: none;
  position: absolute;
  top: 50%;
  z-index: 2;
  color: white;
  border: 0;
  background-color: #f1f3f4;
  padding: 11px 12px;
  cursor: pointer;
  @media only screen and (min-width: 768px) {
    display: block;
  }

  &:focus {
    outline: none;
  }
  &:hover {
    border-color: white;
  }
}

.glide__arrow--left {
  left: 16px;
  svg {
    margin-right: 4px;
  }
}
.glide__arrow--right {
  right: 16px;
  svg {
    margin-left: 4px;
  }
}

.glide__arrow--disabled {
  opacity: 0.33;
}

.glide__bullets {
  position: absolute;
  z-index: 2;
  bottom: -8px;
  left: 50%;
  display: inline-flex;
  list-style: none;
  transform: translateX(-50%);
}

.glide__bullet {
  background-color: #c7ced2;
  width: 16px;
  height: 16px;
  padding: 0;
  border-radius: 50%;
  border: 2px solid transparent;
  transition: all 300ms ease-in-out;
  cursor: pointer;
  line-height: 0;
  margin: 0 0.25em;
  :focus {
    outline: none;
  }
  &:hover {
    background-color: #b31939;
  }
  &:focus {
    background-color: #b31939;
  }
}

.glide__bullet--active {
  background-color: #b31939;
}

.glide--swipeable {
  cursor: grab;
  cursor: -moz-grab;
  cursor: -webkit-grab;
}

.glide--dragging {
  cursor: grabbing;
  cursor: -moz-grabbing;
  cursor: -webkit-grabbing;
}

.isSmallWidth {
  .glide__arrow {
    bottom: 12px;
    top: auto;
    padding: 9px 10px;
  }
}
