.meteo_widget {
  font-family: var(--w-c-font-family, Suedtirol, KievitWebPro, sans-serif);
  position: relative;
  margin-top: 100px;
  @media only screen and (min-width: 768px) {
    margin-top: 86px;
  }
}

.meteo_widget__map_container__responsive_manger {
  width: 100%;
  @media only screen and (min-width: 1200px) {
    width: calc(100% - 200px);
    padding: 0;
    overflow-x: hidden;
  }
}

.meteo_widget__map_container {
  width: calc(100% - 16px);
  position: relative;
  margin-bottom: 36px;
  padding: 8px;
  @media only screen and (min-width: 1200px) {
    padding: 0;
  }
}

/* General absolute sytle */
.weather-map-new__info {
  pointer-events: none;
}

.weather-map-new__icon {
  display: none;
  @media only screen and (min-width: 1200px) {
    position: absolute;
    // width: 6.69%;
    // height: 7.7689%;
    width: 40px;
    height: 40px;
    pointer-events: none;
    display: block;
  }
}
.isSmallWidth {
  .weather-map-new__icon {
    width: 20px;
    height: 20px;
  }
}

.weather-map-new__temp {
  display: none;
  @media only screen and (min-width: 1200px) {
    position: absolute;
    font-weight: 600;
    line-height: 1;
    color: #333;
    font-size: 18px;
    pointer-events: none;
    font-family: var(--w-c-font-family, Suedtirol, KievitWebPro, sans-serif);
    display: block;
  }
}
.isSmallWidth {
  .weather-map-new__temp {
    font-size: 12px;
  }
}

.weather-map-new__town {
  display: inline-block;
  position: absolute;
  line-height: 1.1;
  -webkit-transform: translateX(-50%);
  font-family: var(--w-c-font-family, Suedtirol, KievitWebPro, sans-serif);
  color: #50742f;
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
  text-align: center;
  font-size: 12px;
  pointer-events: none;
  font-weight: 300;
  @media only screen and (min-width: 1200px) {
    font-size: 16px;
  }
}
.isSmallWidth {
  .weather-map-new__town {
    font-size: 9px;
  }
}

.temp-color-max {
  color: #b31939;
}

/* Loaders */
.loader__placeholder {
  &.map__town {
    width: 80px;
    height: 14px;
    box-shadow: rgba(0, 0, 0, 0.08) 0 3px 13px 1px;
    @media only screen and (min-width: 1024px) {
      width: 80px;
      height: 14px;
      box-shadow: rgba(0, 0, 0, 0.08) 0 3px 13px 1px;
    }
  }

  &.map__slider {
    width: 90%;
    height: 464px;
    box-shadow: rgba(0, 0, 0, 0.08) 0 3px 13px 1px;
    margin: 0 auto;
    @media only screen and (min-width: 1024px) {
      width: 90%;
      height: 464px;
      box-shadow: rgba(0, 0, 0, 0.08) 0 3px 13px 1px;
    }
    @media only screen and (min-width: 1200px) {
      width: 392px;
      margin-right: 0;
    }
  }

  &.map__temp {
    @media only screen and (min-width: 1024px) {
      width: 18px;
      height: 32px;
      box-shadow: rgba(0, 0, 0, 0.08) 0 3px 13px 1px;
    }
  }

  &.map__icon {
    @media only screen and (min-width: 1024px) {
      width: 40px;
      height: 40px;
      box-shadow: rgba(0, 0, 0, 0.08) 0 3px 13px 1px;
    }
  }
}
.isSmallWidth {
  .loader__placeholder {
    &.map__town {
      width: 40px;
      height: 8px;
    }
    &.map__temp {
      width: 10px;
      height: 20px;
    }
    &.map__icon {
      width: 20px;
      height: 20px;
    }
  }
}

#txt_DT_dolo_regionen_ .weather-map-town {
  pointer-events: none;
}

.meteo_widget__content {
  @media only screen and (min-width: 1200px) {
    display: flex;
    justify-content: space-between;
  }
}

.meteo_widget__overlay {
  @media only screen and (min-width: 1200px) {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 4;
  }
}

.meteo_date_title {
  @media only screen and (min-width: 1200px) {
    text-align: center;
  }
}

// -------------
// isSmallWidth
// -------------
.isSmallWidth {
  .meteo_widget__content {
    display: block;
  }
  .meteo_widget__map_container__responsive_manger {
    width: 100%;
  }
}

#district_slider {
  width: 90%;
  margin: 0 auto;

  @media only screen and (min-width: 1200px) {
    width: 392px;
    margin-right: 0;
  }
}

.forecast {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-top: 16px;

  @media only screen and (min-width: 1024px) {
    align-items: center;
    justify-content: center;
  }
  @media only screen and (min-width: 1200px) {
    display: flex;
    flex-direction: row;
  }

  .forecast__item {
    width: 50%;
    text-align: center;
    margin-top: 32px;

    @media only screen and (min-width: 1200px) {
      width: 25%;
      margin-top: 0;
      p {
        margin-bottom: 24px;
      }
    }
  }
}

// -------------
// isSmallWidth
// -------------
.isSmallWidth {
  #district_slider {
    width: 100%;
  }
  .forecast {
    display: block;
    .forecast__item {
      width: 100%;
    }
  }
}

.forecast__item__day {
  margin-bottom: 16px;
}

.forecast__item__icon {
  width: 60px;
  display: table;
  margin: 0 auto;
  @media only screen and (min-width: 768px) {
    width: 120px;
  }
  @media only screen and (min-width: 1200px) {
    width: 120px;
    display: table;
    margin: 0 auto;
  }
}

.forecast__item__temp {
  font-size: 18px;
  font-weight: 400;
  color: #333;
  font-size: 24px;
  line-height: 34px;
  margin-top: 10px;

  @media only screen and (min-width: 1200px) {
    font-size: 18px;
    color: #333;
    font-size: 24px;
    line-height: 34px;
  }
}

.forecast__item__temp span:first-child {
  color: #b31939;
  @media only screen and (min-width: 1200px) {
    color: #b31939;
  }
}

.forecast__item__temp span:last-child {
  margin-left: 8px;
  @media only screen and (min-width: 1200px) {
    margin-left: 8px;
  }
}

.forecast__item__rain_icon {
  display: inline-block;
  width: 30px;
  vertical-align: baseline;
}

/* Loaders */
.forecast__date {
  width: 100px;
  height: 20px;
  box-shadow: rgba(0, 0, 0, 0.08) 0 3px 13px 1px;
  margin: 0 auto;
  margin-bottom: 24px;

  @media only screen and (min-width: 1024px) {
    width: 100px;
    height: 20px;
    box-shadow: rgba(0, 0, 0, 0.08) 0 3px 13px 1px;
    margin: 0 auto;
    margin-bottom: 24px;
  }

  @media only screen and (min-width: 1200px) {
    width: 100px;
    height: 20px;
    margin-bottom: 24px;
  }
}

.forecast__icon {
  width: 60px;
  height: 60px;
  box-shadow: rgba(0, 0, 0, 0.08) 0 3px 13px 1px;
  margin: 0 auto;
  margin-bottom: 24px;

  @media only screen and (min-width: 768px) {
    width: 120px;
    height: 120px;
    margin-bottom: 24px;
  }

  @media only screen and (min-width: 1024px) {
    width: 120px;
    height: 120px;
    box-shadow: rgba(0, 0, 0, 0.08) 0 3px 13px 1px;
    margin: 0 auto;
    margin-bottom: 24px;
  }

  @media only screen and (min-width: 1200px) {
    width: 120px;
    height: 120px;
    margin-bottom: 24px;
  }
}

.forecast__rain {
  width: 100px;
  height: 20px;
  box-shadow: rgba(0, 0, 0, 0.08) 0 3px 13px 1px;
  margin: 0 auto;
  @media only screen and (min-width: 768px) {
    width: 100px;
    height: 40px;
  }
  @media only screen and (min-width: 1024px) {
    width: 100px;
    height: 20px;
    box-shadow: rgba(0, 0, 0, 0.08) 0 3px 13px 1px;
    margin: 0 auto;
  }
  @media only screen and (min-width: 1200px) {
    width: 100px;
    height: 20px;
  }
}
